.res_main-container {
  border: 1px solid #264A48;
	width: 275px;
	height: 170px;
	background: #ffffff;
	/*padding: 8px;*/
	margin-top: 10px;
}

.res_title {
	color: #264A48;
	font-size: 32px;
}

.res_cancel-button {
	width: 80%;
	height: 40px;
	background: #264A48;
	border-radius: 5px;
	color: #ffffff;
}

